{{#if title}}
<div class="{{classPrefix}}-head" data-role="head">
  <div class="{{classPrefix}}-title" data-role="title">{{{title}}}</div>
</div>
{{/if}}
<div class="{{classPrefix}}-main" data-role="main">
  <div class="{{classPrefix}}-message" data-role="message">{{{message}}}</div>
</div>
{{#if hasFoot}}
<div class="{{classPrefix}}-foot" data-role="foot">
  {{#if confirmTpl}}
  <div class="{{classPrefix}}-confirm" data-role="confirm">
    {{{confirmTpl}}}
  </div>
  {{/if}}
  {{#if cancelTpl}}
  <div class="{{classPrefix}}-cancel" data-role="cancel">
    {{{cancelTpl}}}
  </div>
  {{/if}}
</div>
{{/if}}
